ion-content{
    background-color: white;
    --background: white;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    .userData {
        color: #F58634;
        padding: 3px;
        :first-child {
            font-weight: bold;
            margin: 0;
            margin-bottom: 5px;
        }
        :nth-child(2) {
            margin: 0;
            font-size: 14px;
        }
    }
    .bellIconAround {
        border: 1px solid #F58634;
        border-radius: 100px;
        padding: 7px 9px;
        svg {
            width: 22px;
            height: 22px;
            color: #F58634;
        }
    }
}

.contentTurnos {
    padding: 10px;
    .selectTurnos {
        border: 1px solid #F58634;
        border-radius: 10px;
        padding: 10px 15px;
        :nth-child(1) {
            display: flex;
            color: #F58634;
            padding-bottom: 8px;
        }
        :nth-child(2) {
            margin: 0;
            color: #101317;
            font-size: 14px;
            margin-top: 5px;
        }

    }
}

.contentButtonBegin {
    padding: 10px;
    margin-top: 5px;
    .buttonBegin {
        text-align: center;
        color: white;
        background-color: #30BEB6;
        border-radius: 10px;
        padding: 1px;
        text-transform: uppercase;
    }

    .buttonPoint {
        background-color: #f58634ba;
    }
}
.detailPoint {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    .buttonQR {
        color: rgb(0, 0, 255);
        font-weight: bold;
    }
}

ion-select {
    --highlight-color-focused: #F58634;
    --highlight-color-valid: #F58634;
}